nav
  ul.navbar
    li
      a(href='/home') Home
    li
      a(href='/file/add') Upload
    li(style='float:right')
      a.login(href='/users/login') Log in
    li(style='float:right')
      a(href='/users/logout') Log out